
<div class="stories-wrapper">

  {{#if err}}
    <div class="display-error">{{err}}</div>
  {{else}}
  {{/if}}

  {{#each stories}}
    <div class="story-wrapper">
  
      <div class="left">
        <div class="title-date-likes">
          <div class="title">{{title}}</div>
          <div class="likes-dislikes-date">
            <span class="story-date">( {{formatDate story.date 'D MMMM YYYY'}} )</span>
            <div class="likes-dislikes">
              <div class="likes-wrapper">
                <div><i class="fas fa-thumbs-up"></i></div>
                <span>{{likesCount}}</span>  
              </div>
              <div class="dislikes-wrapper">
                <div><i class="fas fa-thumbs-down"></i></div>
                <span>{{dislikesCount}}</span>
              </div>
            </div>
          </div>
        </div>
        {{!-- <p>{{stripTags (truncate details 150)}}</p> --}}
        {{{truncate details 150}}}
        
        <a class="edit-user-link" href="/api/stories/{{_id}}">read more</a>
        
        {{#if ../loggedIn}}
            {{{editIcon user._id ../user._id _id}}} 
        {{else}}
        {{/if}}
      </div>

      <div class="bottom">
        {{#if ../loggedIn}}
          {{{username user._id ../user._id user.name}}}
        {{else}}
          <a href="/api/users/{{user._id}}"><i class="fa fa-user"></i>{{user.name}}</a>
        {{/if}}
      </div>
    </div>

    {{else}}
      <p>There are no Stories listed Yet!</p>

  {{/each}}

</div>

