
{{#if err}}
  <div class="display-error">{{err}}</div>
{{else}}

{{/if}} 

<div class="single-story">
  <div class="top">
    {{#if loggedIn}}
      <div class="info">
        <div class="first-letter"><span>{{firstLetter}}</span></div>
        <div class="sub">
          {{{showProfileOrDashboard story.user._id user._id story.user.name}}}
          <div class="n-stories">Stories >> <span>{{nStories}}</span></div>
          <span class="join-date">Joined ( {{formatDate targetUser.date 'D MMMM YYYY'}} )</span>
        </div>
      </div>
      
    {{else}}
      <div class="info">
        <div class="first-letter"><span>{{firstLetter}}</span></div>
        <div class="sub">
          <a class="edit-user-link" href="/api/users/{{story.user._id}}"><span>{{story.user.name}}</span></a>
          <div class="n-stories">Stories >> <span>{{nStories}}</span></div>
          <span class="join-date">Joind ( {{formatDate targetUser.date 'D MMMM YYYY'}} )</span>
        </div>
      </div>
    {{/if}}
  </div>
  
  <div class="bottom">
    <div class="story-title">
      <h2 class="header">{{story.title}}</h2>
      <div class="likes-dislikes-date">
        <span class="date">( {{formatDate story.date 'D MMMM YYYY'}} )</span>
        <div class="likes-dislikes">
          {{#if loggedIn}}
            <div class="likes-wrapper">
              <form method="POST" action="/api/stories/likes/{{story._id}}">
                <button type="submit"><i class="fas fa-thumbs-up"></i></button>
              </form>
              <span class="likes-count">{{story.likesCount}}</span>
            </div>
            <div class="dislikes-wrapper">
              <form method="POST" action="/api/stories/dislikes/{{story._id}}">
                <button type="submit"><i class="fas fa-thumbs-down"></i></button>
              </form>
              <sapn class="dislikes-count">{{story.dislikesCount}}</span>
            </div>
          {{else}}
            <div class="likes-wrapper">
              <div class="not-logged-likes"><i class="fas fa-thumbs-up"></i></div>
              <span class="not-logged-likes-count">{{story.likesCount}}</span>  
            </div>
            <div class="dislikes-wrapper">
              <div class="not-logged-dislikes"><i class="fas fa-thumbs-down"></i></div>
              <span class="not-logged-dislikes-count">{{story.dislikesCount}}</span>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <p>{{{story.details}}}</p>
    
    {{#if loggedIn}}    
        {{{editDeleteIcon story.user._id user._id story._id}}} 
    {{else}}
    {{/if}}
    
  </div>


  {{#if story.allowComments}}

      {{#if loggedIn}}
          <div class="leave-comment">
            <span>Leave a comment</span>
            <svg class="arrow-down" viewBox="0 0 699 447.05">
              <path d="M14,15.78c18.71-21,49-21,67.74,0L349.5,316.92,617.23,15.78c18.71-21,49-21,67.74,0s18.71,55.15,0,76.2L385.35,429l-2,2.29c-8.77,9.87-20.09,15.1-31.58,15.73l-2.18.05c-.77,0-1.53,0-2.3-.05-11.49-.63-22.81-5.86-31.58-15.73l-2-2.29L14,92C-4.68,70.93-4.68,36.82,14,15.78Z"/>
            </svg>
            <svg class="arrow-up" viewBox="0 0 699 447.05">
              <path d="M685,431.27c-18.71,21-49,21-67.74,0L349.5,130.13,81.77,431.27c-18.71,21-49,21-67.74,0s-18.71-55.15,0-76.19l299.62-337,2-2.29C324.45,5.91,335.77.68,347.26.06L349.44,0c.77,0,1.53,0,2.3.06,11.49.62,22.81,5.85,31.58,15.72l2,2.29L685,355.08C703.68,376.12,703.68,410.23,685,431.27Z"/>
            </svg>
          </div>
          <form class="story-comment-form" method="POST" action="/api/stories/{{story._id}}">
            <textarea id="details" name="commentBody"></textarea>
            <button type="submit">Submit</button>
          </form>
      {{else}}
        <p><i style="margin-right: .3rem;" class="far fa-comment"></i>Please <a style="display: inline; background-color: gold;" href="/api/auth">Login</a> to leave a comment</p>
      {{/if}} 

      <div class="comments-wrapper">
      {{#each story.comments}}
        <div class="comment-wrapper">
          <div class="original-comment">
            <p>
              <span class="user-name"><i class="fa fa-user"></i>{{commentUser.name}}</span> 
              <span class="comment-date">( {{formatDate commentDate 'D MMMM YYYY'}} )</span>
            </p>
            <div class="comment-body">{{{commentBody}}}</div>
          </div>
      
        </div>
      {{/each}} 
      </div>

      
      

  {{else}}
  {{/if}}

  

</div>