

<div class="stories-wrapper">

  {{#if err}}
    <div class="display-error">{{err}}</div>
  {{else}}

  {{/if}}

  {{#each stories}}
    <div class="story-wrapper">
      <h3>{{title}}</h3>
      <p>{{details}}</p>
      <a href="/api/users/{{user._id}}">{{user.name}}</a>
      {{#if ../loggedIn}}
        <div class="update-delete-div">
          <a href="/api/stories/edit/{{_id}}">Edit</a>
          <form action="/api/stories/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
          </form>
        </div>

      {{else}}
      {{/if}}

    </div>

    {{else}}
      <p>There are no Stories listed Yet!</p>

  {{/each}}

</div>